<h1>Job page</h1>

{{#if errorEdit}}
	<p class="error">{{errorEdit}}</p>
{{/if}}
<div class="job">
	<div class="job-header">
		<div class="title job-title">{{job.title}}</div>
		{{#ifeq user._id job.creator._id}}
			<a class="edit-btn" href="/jobs/job/edit/{{job._id}}">Edit</a>
		{{/ifeq}}
	</div>
	<div class="description job-desc">{{job.description}}</div>

	<div class="job-footer">
		<div class="date">Date of creation: <span>{{moment date=job.dateCreated format="DD/MM/Y"}}</span></div>
		<div class="creator">Creator: <span>{{job.creator.name}}</span></div>
	</div>
</div>	