<div class="jobs-header">
	<h1>Jobs</h1>

	<a class="a-create" href="/jobs/create">Create job</a>
</div>

{{#if jobsError}}
	<p class="error">{{jobsError}}</p>
{{/if}}

{{#if errorCreateJob}}
	<p class="error">{{errorCreateJob}}</p>
{{/if}}

{{#if errorJob}}
	<p class="error">{{errorJob}}</p>
{{/if}}

{{#each jobs}}
	<div class="job">
		<a href="/jobs/job/{{_id}}" class="title">{{title}}</a>
		<div class="description">{{description}}</div>
		<div class="job-footer">
			<div class="date">Date of creation: <span>{{moment date=dateCreated format="DD/MM/Y"}}</span></div>
			<div class="creator">Creator: <span>{{creator.name}}</span></div>
		</div>
	</div>
{{/each}}

{{#unless jobs.length}}
	<div class="no-work">No work yet!</div>
{{/unless}}
